

<div class="section-title">
    <span>Qualifications</span>
    <h2 class="m-0">Attained?</h2>
</div>
<div class="mb-3">
    <p class="text-white m-0">- Diploma In C# Programming</p>
    <p class="small text-white kt-program-initiator"><em class="small">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Microsoft Initiated Program)</em></p>

    <p class="text-white m-0">- Diploma In HTML5, CSS3 And JavaScript)</p>
    <p class="small text-white  kt-program-initiator"><em class="small"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Microsoft Initiated Program)</em></p>

    <p class="text-white m-0">- ASP.NET Core - Advanced</p>
    <p class="small text-white  kt-program-initiator"><em class="small"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Microsoft Initiated Program)</em></p>

    <p class="text-white m-0">- DevOps for Developers</p>
    <p class="small text-white kt-program-initiator"><em class="small"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Microsoft Initiated Program)</em></p>

    <p class="text-white m-0">- Honors Bachelors Degree in Psychology</p>
    <p class="small text-white  kt-program-initiator"><em class="small"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (University of South Africa)</em></p>

    <p class="text-white m-0">- Barak Obama's Young African Leaders Initiative</p>
    <p class="small text-white  kt-program-initiator"><em class="small"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Regional Leadership Centre Southern Africa)</em></p>
</div>
