<div class="section-title">
    <span>Skills</span>
    <h2 class="m-0">Gained?</h2>
    <p class="text-white small m-0"><em>(based on skills assessment done by PluralSight - <a href="https://app.pluralsight.com/profile/kudzanayi-takaendesa" target="_blank"> click here to go to assessment results on PluralSight</a>)</em></p>
</div>


<div class="progress-wrapper mb-5">
    <div class="progress-item">
        <span class="progress-title small text-white">C#</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
                <span class="progress-percent"> 82%</span>
            </div>
        </div>
        <!-- .progress -->
    </div>
    <!-- .skill-progress -->
    <div class="progress-item">
        <span class="progress-title small text-white">ASP.NET Core</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
                <span class="progress-percent"> 93%</span>
            </div>
        </div>
        <!-- /.progress -->
    </div>
    <!-- /.skill-progress -->
    <div class="progress-item">
        <span class="progress-title small text-white">HTML 5</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100" style="width: 81%;">
                <span class="progress-percent"> 81%</span>
            </div>
        </div>
        <!-- /.progress -->
    </div>
    <!-- /.skill-progress -->
    <div class="progress-item">
        <span class="progress-title small text-white">Angular</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;">
                <span class="progress-percent"> 71%</span>
            </div>
        </div>
        <!-- /.progress -->
    </div>
    <!-- /.skill-progress -->
    <div class="progress-item">
        <span class="progress-title small text-white">JavaScript</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="progress-percent"> 40%</span>
            </div>
        </div>
        <!-- .progress -->
    </div>
    <!-- .skill-progress -->
</div>