<div class="services__title">
    <div class="text-center px-3 pb-1">
        <img src="img/me.jpeg" class="img-fluid" />
    </div>
    <p class="text-center px-3 small">
        Name: Kudzanayi Takaendesa (or just Ronald)
        <br />
        Phone & WhatsApp: +263 775 862 473
        <br />
        Email: tisquip6@gmail.com
    </p>

    <p>Happily Married (no children yet). Aside from my wife and other family relations and friends, the other thing I love is .Net. Thats all I can say about me. Anyway, its December and I thought, let me fire up my CV and what better way to do it than using .Net 5 :-) (had fun i tell you). So basically, the app you are using is running on .Net 5 (dare I say, open your browser tools and viola : Blazor WebAssembly in production on GitHub pages using GRPC, SignalR and a Background Worker calling an external api, just to mention a few of tech used on this app). Anyhow, enjoy and you can <a href="https://github.com/tisquip/MyResume" target="_blank">view all the code as well as the all the commits in my repo.</a> So if you are interested, don't hesitate, get in touch (ps: I don't support Arsenal, my wife does)</p>
    <a href="/vid.html" target="_blank" class="primary-btn text-white kt-pointer">Watch video to see how app works</a>

</div>