<div class="section-title">
    <span>Skills and Qualification</span>
    <h2>What I do?</h2>
</div>
<p>Well, since its December now, I thought let me fire up my resume to look for other opportunities out there, and since im in development, what better way to do it than create a sample. The code for this is found on my github repo (including the full journey, via the commits), there at least you can see my coding style and the like</p>