@page "/"
<div class="row">
    <div class="col-md-6">
        <Resume.Web.Components.LiveMatchComponent />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <Resume.Web.Components.PreviousMatchesComponent />
            </div>
            <div class="col-md-6">
               
            </div>
        </div>
    </div>
</div>


