.kt-teamlogo{
    height: 40px
}

.kt-games-title{
    color: white;
}


.section-title {
    margin-bottom: 0px;
}

.kt-hidden {
    display: none;
}

.kt-api-container {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin: 15px 0px;
    padding: 15px 0px;
    background-color: #350084;
}